@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Custom Ant Design Pagination ========== */
.ant-pagination a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

.ant-pagination .ant-pagination-item-active a {
  color: #1677ff !important; /* màu active giống theme */
  font-weight: 600;
}

.ant-pagination a:hover {
  background-color: #e6f7ff;
  border-radius: 6px;
}
